In [34]:
import pickle
import pandas as pd

In [35]:
test = pd.read_csv("data/test.csv")
train = pd.read_csv("train_bin.csv")

In [36]:
clf = pickle.load(open("svc_model.sav", "rb"))

In [37]:
train.drop("Survived", axis=1, inplace=True)

In [38]:
train.head()

,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Other,"Age_(0.34, 8.378]","Age_(8.378, 16.336]","Age_(16.336, 24.294]","Age_(24.294, 32.252]","Age_(32.252, 40.21]",...,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_n,Embarked_C,Embarked_Q,Embarked_S
0,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
1,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
2,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1

In [39]:
test.shape

(418, 11)

In [40]:
def find_missing_values(df, columns):
    missing_vals = {}
    print("Number of missing or NaN values for each column: ")
    df_length = len(df)
    for column in columns:
        total_col_values = df[column].value_counts().sum()
        missing_vals[column] = df_length - total_col_values
    return missing_vals

missing_test = find_missing_values(test, test.columns)
print(missing_test)

Number of missing or NaN values for each column:
{'PassengerId': 0, 'Pclass': 0, 'Name': 0, 'Sex': 0, 'Age': 86, 'SibSp': 0, 'Parch': 0, 'Ticket': 0, 'Fare': 1, 'Cabin': 327, 'Embarked': 0}

In [41]:
test["Title"] = test.Name.apply(lambda x: x.split(",")[1].split(".")[0].strip())

In [43]:
std_titles = ["Mr", "Miss", "Mrs", "Master"]
test["Title"] = test["Title"].apply(lambda x: x if x in std_titles else "Other")

In [44]:
median_ages = pickle.load(open("median_age.pkl", "rb"))
titles = {}

for title in test.Title.unique():
    titles[title] = test[test.Title == title]
    titles[title].Age.fillna(median_ages[title], inplace = True)

/Users/willgosnold/miniconda3/envs/titanic/lib/python3.9/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [46]:
missing_test = find_missing_values(test, test.columns)
print(missing_test)

Number of missing or NaN values for each column:
{'PassengerId': 0, 'Pclass': 0, 'Name': 0, 'Sex': 0, 'Age': 86, 'SibSp': 0, 'Parch': 0, 'Ticket': 0, 'Fare': 1, 'Cabin': 327, 'Embarked': 0, 'Title': 0}

{'Mr': 30.0, 'Mrs': 35.0, 'Miss': 21.0, 'Master': 3.5, 'Other': 44.5}